.header{
  padding: 15px;
  border-bottom: 1px solid #000;
  box-shadow: 0 -5px 16px #000;
  margin-bottom: 30px;
  &-nav{
      &__link{
        color: #282828;
        text-decoration: none;
      }
  }
}